# Original dataset
Calibration/
Measure\ 1/
Measure\ 2/
Measure\ 3/
Measure\ 7/
Measure\ 8/
labels/

# Preprocessed dataset (available on the project file repository)
dataset/ignoredRawNoCrop/
dataset/rawNoCrop/train/
dataset/rawNoCrop/test/

# Do not upload heavy datasets
*.h5
*.mat
*.txt
dataset/rawNoCrop/csv_spectrogram/ad_hoc/
dataset/rawNoCrop/img_spectrogram/


# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

# Garbage
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db